@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
#app{
  padding: 10px;
  // font-family: sans-serif;
  font-family: 'Lato', sans-serif;
  h2{
    padding:5px;
  }
}
.exercise {
  padding: 10px;
  border-radius: 5px;
  display: none;
}

.btn,.scrollBtn {
  min-width: 3.2rem;
  height:1.8rem;
  margin: 5px 5px 5px 0;
  padding: 3px 6px;
  border: none;
  background:
  #eee;
  border-radius:3px;
  box-shadow: 2px 4px 3px rgba(0, 0, 0, 0.2);
  font-size: 16px;
  font-family: sans-serif;
  font-weight:600;
}

.clear{
  background: #f57520;  
  color:#fff;
  margin: 5px 5px 15px 0;
  box-shadow: 2px 4px 3px rgba(0, 0, 0, 0.2);
}

aside{
  margin-left:5px;
  width:7rem;
  // flex:1;
  flex-direction: column;
  :hover {
    color:#212121;
    transform: scale(0.95);
  }
}

.play-ground-box{
  position:relative;
  flex:6;
  padding:5px;
  margin:0 5px;
  box-shadow: 2px 4px 3px rgba(0, 0, 0, 0.2);
  background-color:#f2f6fc;
  // height:80vh;
}
.play-ground{
  // border:1px solid pink;
  width:100%;
  height:80vh;
  position:relative;
  display:flex;
}

.scrollContainer{
  width:100%;
  height:80vh;
  display:flex;
  flex-direction:column;
  overflow:auto;
  overflow-x:hidden;
  align-items:center;
}
.content{
  display:flex;
  flex-direction:row;
  justify-content: left;
  list-style: none;
  padding:5px;
  :hover{
    color:slateblue;
    // color:#aaa;
    transform: scale(0.95);
  }
  // border:1px solid salmon;

}
.title {
  font-weight: 700;
  background: linear-gradient(-45deg, #feecba, #07b8b4);
  color: #fff;
  padding:5px 10px;
  border-radius: 5px;
  margin-right:5px;

}

main{
  display:flex;
  // flex-direction: row;
}

.bgBlack {
  background-color:#373e40;
  border-radius: 5px;
}

.axisX{
  width:100%;
  height:2px;
  background:#c4e9f5;
  position:absolute;
  top:50%; // 
  // display:none;
}

.axisY{
  height:100%;
  width:2px;
  background:#c4e9f5;
  position:absolute;
  left:50%; // 
}
.target{
  color:#fff;
  font-size:16px;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(10px,5px);

}
.fa-times {
  position: absolute;
  font-size:1.6rem;
  right: 10px;
  top: 10px;
  z-index:10;
}

.targetImage{
  width:2px;
  font-size: 1.6rem;
  color:#fff;
  position:absolute;
  left:50%; 
  top:50%// 
}

.scrollBox{
padding:10%;
width:10rem;
display:block;
height:10rem;
background:#828279;
border-radius:5px;
margin:1rem 1rem 0.5rem;
display:flex;
align-items:center;
justify-content: center;
color:#fff;
}

.scrollBox:last-child{
  background: linear-gradient(-45deg,#f6ff7a,#4bd9db,#e8d046);
}

.btns{
  width:100%;
  position:fixed;
  top:120px;
  right:-10rem;
  display:flex;
  margin:1rem;
  // justify-content:center;
}

.scrollToSecond,.scrollToSpecialBtn {
  height:1.8rem;
  margin: 5px 5px 5px 0;
  padding: 5px 10px;
  border: none;
  background:#eee;
  border-radius:3px;
  box-shadow: 2px 4px 3px rgba(0, 0, 0, 0.2);
  font-size: 16px;
  font-weight:600;
}