@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
#app{
  padding: 10px;
  // font-family: sans-serif;
  font-family: 'Lato', sans-serif;
  h2{
    padding:5px;
  }
}
.exercise {
  padding: 10px;
  border-radius: 5px;
  display: none;
}

.btn {
  min-width: 3rem;
  margin: 5px 5px 5px 0;
  padding: 3px 5px;
  font-family: sans-serif;
  border: none;
  box-shadow: 2px 4px 3px rgba(0, 0, 0, 0.2);
  font-size: 16px;
}
aside{
  margin-left:5px;
  width:7rem;
  // flex:1;
  flex-direction: column;
}

.left-bar{
  border:1px solid pink;
}

.play-ground{
  // border:1px solid;
  flex:6;
  padding:5px;
  margin:0 5px;
  box-shadow: 2px 4px 3px rgba(0, 0, 0, 0.2);
  background-color:#f2f6fc;
  height:80vh;
}
.content{
  display:flex;
  flex-direction:row;
  justify-content: left;
  list-style: none;
  padding:5px;
  :hover{
    color:slateblue;
  }
  // border:1px solid salmon;

}
.title {
  font-weight: 700;
  background: linear-gradient(-45deg, #feecba, #07b8b4);
  color: #fff;
  padding:5px 10px;
  border-radius: 5px;
  margin-right:5px;

}

main{

  display:flex;
  // flex-direction: row;

}
